<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Sample Test Suite" thread-count="2" parallel="tests">
	
<!-- 	<listeners>
		<listener class-name="TestNGSessions.MyListenerTest"></listener>
	</listeners>   -->

  <test name="Sanity Test Chrome" verbose="3">
  	<parameter name="browser" value="chrome" />
  	<parameter name="url" value="http://www.google.com" />
  	<parameter name="headless" value="no" />
  	
  	<classes>
  		<class name="TestNGSessions.HomeTest"/>
  		<class name="TestNGSessions.ContactTest"/>
  		  	<!-- <class name="TestNGSessions.TestNGAnnotations"/> 
  			<class name="TestNGSessions.priorityConcept"/> -->  
  
  	</classes>
  </test>
  
  <test name="Sanity Test Firefox" verbose="2">
  	<parameter name="browser" value="firefox" />
  	<parameter name="url" value="http://www.google.com" />
  	<parameter name="headless" value="no" />
  	
  	<classes>
  		<class name="TestNGSessions.HomeTest"/>
  		<class name="TestNGSessions.ContactTest"/>
  
  	</classes>
  </test>
  
   
</suite>
